.App {
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 10s cubic-bezier(0.62, -0.01, 0.03, 0.02);
  height: 200px;
}
.class-img {
  display: flex;
  justify-content: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}
.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  margin-bottom: 0px;
  font-weight: bold;
  text-align: center;
  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5691c8,
    #457fca
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5691c8,
    #457fca
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
  width: 18rem;
  margin-top: 30px;
}
.card-body {
  text-align: center;
}
.classUl {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 0px;
}
li {
  margin-top: 30px;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

.changeColor {
  background-color: aliceblue;
}
